.container {
  background-color: #f7f7f3;
  height: 100%;
  background-size: cover;
}
.content {
  max-width: 780px;
  min-height: 550px;
  display: flex;
  margin: 50px 0 0 0;
  margin-left: calc((100% - 780px) / 2);
  margin-right: calc((100% - 780px) / 2);
  flex-wrap: wrap;
  justify-content: space-between;
}
.title {
  font-family: "ModernAntiqua-Regular";
  font-weight: 800;
  font-size: 25px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 200px;
  border-bottom: 2px solid rgb(229, 212, 191, 0.5);
}
.link {
  margin-right: 50px;
}
