.container {
  min-width: 100vw;
  height: 100vh;
  min-height: 730px;
  background-color:		
  #ecece4;
}
.title {
  font-family: 'ModernAntiqua-Regular';
  font-weight: 800;
  font-size: 25px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 200px;
  border-bottom: 2px solid rgb(229,212,191,0.5);
}
.link {
  margin-right: 50px;
}
.content {
  font-family: 'ShadowsIntoLightTwo';
  font-size: 90px;
  margin-top: 50px;
}
.solgnF{
  display: inline-block;
  margin-left: 27%;
  margin-bottom: 10px;
}
.solgnS {
  display: inline-block;
  margin-left: 35%;
  margin-bottom: 10px;
}
.solgnT{
  display: inline-block;
  margin-left: 38%;
  margin-bottom: 10px;
}
.img {
  transform: scale(0.25) translate(-1035px, -25px);
}
